<div class="page-wrapper">
    <div class="auth-bg">
        <div class="authentication-box">
            <div class="text-center"><img class="img-fluid" width="150px" src="assets/images/dki_logo.png" alt=""></div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <h4>LOGIN</h4>
                        <h6>Enter your Username and Password </h6>
                    </div>
                    <form class="theme-form" [formGroup]="loginForm">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input class="form-control" formControlName="username" type="text"
                                    placeholder="ID Login"
                                    [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors}">
                                <div *ngIf="submitted && loginForm.controls.username.errors"
                                    class="invalid-feedback pd-valid-form">
                                    <div *ngIf="loginForm.controls.username.errors?.required"
                                        class="text text-danger pd-valid-form">
                                        ID Login harus diisi
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input class="form-control" type="password" placeholder="Kata Kunci"
                                    formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors}">
                                <div *ngIf="submitted && loginForm.controls.password.errors"
                                    class="invalid-feedback pd-valid-form">
                                    <div *ngIf="loginForm.controls.password.errors?.required"
                                        class="text text-danger pd-valid-form">
                                        Password harus diisi.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group form-row mt-3 mb-0">
                            <button class="btn btn-primary btn-block btn-lg" 
                                 (click)="login()"
                                type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>